<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid main-navbar">
            <a class="btn btn-primary" role="button" aria-disabled="true" href="{% url 'dashboard' %}">Home</a>
            <a class="btn btn-primary" role="button" aria-disabled="true" href="{% url 'damentry' %}">Dam</a>
            <a class=" btn btn-primary" role="button" aria-disabled="true" href="{% url 'staffshow' %}">Staff</a>
            <a class=" btn btn-primary" role="button" aria-disabled="true" href="{% url 'departmentshow' %}">Department</a>
            <a class=" btn btn-primary" role="button" aria-disabled="true" href="{% url 'fishshow' %}">Fish</a>
            <a class=" btn btn-primary" role="button" aria-disabled="true" href="{% url 'creditshow' %}">Credit</a>
            <a class=" btn btn-primary" role="button" aria-disabled="true" href="{% url 'salesshow' %}">Sales</a>
        </div>
    </nav>
    <table class=" table table-striped table-bodered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Credit Year</th>
                        <th>Total Credit</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for credit in credits %}
                    <tr>
                        <td>{{ credit.creditYear }}</td>
                        <td>{{ credit.totalCredit }}</td>
                        <td>
                            <a href="/creditedit/{{ credit.id }}"><button type="button" class="btn btn-outline-primary btn-sm">Edit</button></a>
                            <a href="/creditdelete/{{ credit.id }}"><button type="button" class="btn btn-outline-primary btn-sm">Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <br>
                <br>
                <center><a href="{% url 'creditadd' %}" class="btn btn-primary">Add New Record</a></center>
</body>

</html>