<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table class="table table-striped table-bodered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Dam Name</th>
                <th>Dam Location</th>
                <th>Dam Height</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for dam in dams %}
            <tr>
                <td>{{ dam.damName }}</td>
                <td>{{ dam.damLocation }}</td>
                <td>{{ dam.damHeight }}</td>
                <td>
                    <a href="/edit/{{ dam.id }}"><span class="glyphicon-pencil">Edit</span></a>
                    <a href="/delete/{{ dam.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <center><a href="/dam" class="btn btn-primary">Add New Record</a></center>
</body>
</html>