<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid main-navbar">
            <a class="btn btn-primary" role="button" aria-disabled="true" href="{% url 'damentry' %}">Dam</a>
            <a class=" btn btn-primary" role="button" aria-disabled="true" href="#">Staff</a>
            <a class=" btn btn-primary" role="button" aria-disabled="true" href="#">Department</a>
            <a class=" btn btn-primary" role="button" aria-disabled="true" href="fishshow">Fish</a>
            <a class=" btn btn-primary" role="button" aria-disabled="true" href="#">Credit</a>
            <a class=" btn btn-primary" role="button" aria-disabled="true" href="#">Sales</a>
        </div>
    </nav>
    <table class=" table table-striped table-bodered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Department Name</th>
                        <th>Department Count</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr>
                        <td>{{ department.departmentName }}</td>
                        <td>{{ department.departmentCount }}</td>
                        <td>
                            <a href="/departmentedit/{{ department.id }}"><button type="button" class="btn btn-outline-primary btn-sm">Edit</button></a>
                            <a href="/departmentdelete/{{ department.id }}"><button type="button" class="btn btn-outline-primary btn-sm">Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <br>
                <br>
                <center><a href="{% url 'departmentadd' %}" class="btn btn-primary">Add New Record</a></center>
</body>
</html>