<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <form method="POST" class="post-form" action="/salesupdate/{{sale.id}}">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm 4">
                    <h3>Update Details</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Fish Name:</label>
                <div class="col-sm 4">
                    <input type="text" name="fishName" id="id_fishName" value="{{ sale.fishName }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Fish Sold:</label>
                <div class="col-sm 4">
                    <input type="text" name="fishSales" id="id_fishSales" value="{{ sale.fishSales }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Sales Date:</label>
                <div class="col-sm 4">
                    <input type="date" name="salesDate" id="id_salesDate" value="{{ sale.salesDate }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm 4">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>