<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>


    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Enter Details</h3>
            </div>
        </div>
        <form method="POST" class="post-form" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label for="" class="form-label">Staff ID</label>
                <input type="text" Required name="staffid" class="form-control">
            </div>
            <div class="form-group row">
                <label for="" class="form-label">Staff Name</label>
                <input type="text" Required name="staffname" class="form-control">
            </div>
            <div class="form-group row">
                <label for="" class="form-label">Staff Email</label>
                <input type="text" Required name="staffEmail" class="form-control">
            </div>
            <div class="form-group row">
                <label for="" class="form-label">Staff Image</label>
                <input type="file" Required name="staffImage" class="form-control">
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>


</body>

</html>